/*Definiendo varibles para emplear en los estilos*/
:root {
  --blanco: #ffffff;
  --azul: #023047;
  --amarillo: #fca311;
  --iconos: #ffbe0b;
  --formacion: #343a40;
  --historial-lab: #457b9d;

  /*Añadiendo colores de degradado*/
  --superior: #f8f9fa;
  --inferior: #e9ecef;
}

/*Añadiendo estilos generales al proyecto*/
html {
  /*
    Lo que hacemos es formatear el valor de 1rem = 16px
    , es decir, que 1 rem equivalga a 10px, ya que el
    62.5% de 16px son 10px 

    62.5(hmtl) x 16(body) = 1000
    1000 / 100 = 10px
    */
  font-size: 62.5%;

  /*De finiendo la familia tipografica para todo el documento*/
  font-family: "Krub", sans-serif;

  /*Hack para solucionar el problema del BoxModel*/
  box-sizing: border-box;

  /*
    Estamos definiendo el scroll en nuetra pagina web, en el eje de las Y,
    es decir, scroll de forma vertical, podemos hacer el caso contrario en el
    eje de la X, para realizar scroll horizontal

    el valor de "madatory" nos ayuda a hacer scroll, de una forma mas rapida,
    tambien podemos emplear el valor de "proximity", esto hara que el scroll sea mas lento.
    */
  scroll-snap-type: y mandatory;
}

/*Agregando la tipografia*/

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

*,
*::before,
*::after {
  /*
    Segunda parte del Hack para solucionar los problemas 
    del BoxModel

    Esto significa que todos los elementos que se creen antes 
    o depues emplearan la propiedad BORDER-BOX, del elemento raiz
    */
  box-sizing: inherit;
}

/*Añadiendo gradiente para establecer un degradado al cuerpo
de mi pagina web*/
body {
  font-size: 16px;
  background: linear-gradient(to top, var(--superior) 0%, var(--inferior) 100%);
}

h1.titulo {
  font-weight: bold;
}

h1.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.navegacion-principal a {
  color: var(--blanco);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
}

.navegacion-principal a:hover {
  background-color: var(--amarillo);
  transition: all 0.5s ease;
}

.nav-bg {
  background-color: var(--azul);
}
.navegacion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Añadiendo estilos a la seccion de "Desarrollo web"*/
.hero {
  background: url("../assets/images/computer.jpg") no-repeat 100%;
  background-size: cover;

  height: 45rem;
  margin-bottom: 2rem;
  position: relative;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.boton {
  color: var(--blanco);
  text-decoration: none;
  background-color: var(--azul);
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 2rem;
  width: 90%;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  margin-top: 2rem;
}

@media (min-width: 760px) {
  .boton {
    width: auto;
  }
}

.contenido-hero a:hover {
  color: var(--amarillo);
  transition: all 0.5s ease;
}

.contenido-hero {
  position: absolute;

  /*Agregando transparencia al fondo*/
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Empleando flexbox, para alinear el icono de la ubicación
y el texto de parrafo de la misma*/
.ubicacion {
  display: flex;
  align-items: flex-end;
}

/*Estilos y estrutura correspondientes a la seccion principal*/

.sombra {
  -webkit-box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 0.2rem;
}

/*Añadiendo color a los encabezados de HISTORIAL LABORAL*/
.historia-laboral h3 {
  color: var(--historial-lab);
}

.historia-laboral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Añadiendo diseño responsive, mediante MEDIA-QUERYS*/
@media (min-width: 760px) {
  .historial-laboral {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*Defineindo el espacio entre el borde las celdas y el contenido de la misma*/
    column-gap: 1rem;
  }
}

/*Dando fondo y alineación a los iconos*/
.iconos {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--iconos);
  border-radius: 50%;
}

.formacion h2 {
  color: var(--blanco);
}

.formacion {
  background-color: var(--formacion);
  width: min(60rem, 100%);
  padding: 2rem;
  margin: 0 auto;
  border-radius: 1rem;

  /*
    Añadiendo FLEXBOX, para alinear el icono y texto
    */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formacion p {
  color: var(--blanco);
}

.historia-laboral ul {
  list-style-type: circle;
}

.historia-laboral ul li {
  line-height: 1.5;
}

.trayectoria li {
  color: var(--blanco);
  list-style-type: circle;
}

.aptitudes {
  border: 1rem solid var(--azul);
  max-width: 120rem;
  margin: 2rem auto;
}

/*Añadiendo diseño responsive*/
@media (min-width: 760px) {
  .habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

.habilidad {
  text-align: center;
}

/*Alineando el texto del pie de página*/

footer {
  margin-top: 5rem;
}

footer p {
  text-align: center;
}
